env
.vscode/
*.pyc
.env
.DS_Store
.idea
__pycache__
credentials.json
links.txt
curl_result.json
config.ini
app_monitor.db
app_monitor.sqbpro
app_monitor.db-journal
app_monitor.log
test.py
*.bak
*.log
*.db
*.html
*.sh
app_monitor_supa*.*
ios*.*